<div class="row">
    <div class="col-3">
        <product-filter [category]="category"></product-filter>
    </div>
    <div class="col">
        <div class="row">
            <ng-container *ngFor="let product of filteredProducts; let i = index">
                <div class="col">
                    <div class="card" style="width: 20rem;">
                        <img [src]="product.payload.doc.data().imageUrl" class="card-img-top img-fit">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.payload.doc.data().title }}</h5>
                            <p class="card-text">{{ product.payload.doc.data().price | currency:'INR' }}</p>
                        </div>
                        <div *ngIf="cart" class="card-footer">
                            <button
                                *ngIf="cart.getQuantity(product) === 0; else updateQuantity"
                                (click)="addToCart(product)"
                                 class="btn btn-secondary btn-block">Add to Cart</button>
                        </div>
                        <ng-template #updateQuantity>
                            <product-quantity [product]="product" [shopping-cart]="cart">
                            </product-quantity>
                        </ng-template>
                    </div>
                </div>
                <div *ngIf="(i+1)%2 === 0" class="w-100"></div>
            </ng-container>
        </div>
    </div>
</div>



